<div>
	<!-- <img class="avatar" src="{{url_for('static', filename='img/oneconnect_logo.png')}}" style="align-content: center"/>       -->
	<h1 style="text-align:center">
		OneConnectChatbot
	</h1>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="row">

			<div class="chat_window">

        <ul class="messages">
            <ng-container *ngFor="let message of messages | async">
              <li class="message" [ngClass]="{
                  'left appeared':message.sentBy === 'bot',
                  'right appeared':message.sentBy === 'user' }">
                <div class="text_wrapper">
                  <div class={{message.type}} [innerHTML]="message.content"></div>
                </div>
              </li>

            </ng-container>
        </ul>


        <div class="bottom_wrapper clearfix">

          <app-audio></app-audio>

          <div class="message_input_wrapper">

            <input class="message_input" [(ngModel)]="messageInput" (keyup.enter)="sendMessage()" placeholder="Say Hi to begin chat..."
                   data-gramm="true"  data-txt_gramm_id="c8963586-c2d2-429d-225f-f33fbcae1346"
                data-gramm_id="c8963586-c2d2-429d-225f-f33fbcae1346" spellcheck="true" data-gramm_editor="true"/>

          </div>

					<div class="send_message">
						<div class="text" (click)="sendMessage()">send</div>
          </div>

        </div>

			</div>
		</div>
	</div>
</div>
